.contact-class{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 1;
    display: flex;
    justify-content: center;
    div{
        width: 60vw;
        overflow-y: scroll;
        color: var(--primary);
        background-color: #EAF6F6;
        padding: 2rem;
        p{
            font-size: 30px;
            margin-top: 10px;
        }
        input{
            width: 100%;
            height: 60px;
            font-size: 30px;
            margin-top: 5px;
            padding-left: 10px;
            outline: none;
            &:focus{
                border: 3px solid var(--primary);
            }
        }
        textarea{
            width: 100%;
            height: 250px;
            margin-top: 5px;
            font-size: 30px;
            padding-left: 10px;
            padding-top: 10px;
            &:focus{
                border: 3px solid var(--primary);
            }
        }
        button{
            height: 50px;
            width: 50%;
            margin-top: 10px;
            background-color: var(--primary);
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            font-family: customfont;
            font-weight: 900;
            border: none;
            transition: background-color .2s linear;
            &:disabled{
                background-color: #707070;
                cursor: default;
            }
        }
        small{
            margin-top: 25px;
            margin-left: 10px;
            font-size: 16px;
        }
    }
    ::-webkit-scrollbar {
        width: 0px;
    }
}