<section class="side-header">
    <h1 class="h1-6" [routerLink]="['']">Deenadhayalan <span>B</span></h1>
    <div class="list">
        <ul class="p-2">
            <li><a [routerLink]="['/Experience']">Experiences</a></li>
            <li><a [routerLink]="['/Education']">Education</a></li>
            <li><a [routerLink]="['/Resume']">Resume</a></li>
            <li><a [routerLink]="['/Contact']">Contact</a></li>
        </ul>
    </div>

    <div class="menu-icon">
        <p><a href="https://www.facebook.com/profile.php?id=100010610442272" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></p>
        <p><a href="https://github.com/deena23" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></p>
        <p><a href="https://github.com/deena23" target="_blank"><i class="fa fa-github fa-lg"></i></a></p>
        <p><a href="https://www.linkedin.com/in/deenadhayalan-bhackiyam" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></p>
    </div>
</section>