<section *ngIf="loading">
    <loader></loader>
</section>
<section class="home-class" *ngIf="!loading">
    <div class="div-top">
        <h1 class="h1-6">Deenadhayalan <br> <span>Bhackiyam</span></h1>
        <div class="icons">
            <p><a href="https://www.facebook.com/profile.php?id=100010610442272" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></p>
            <p><a href="https://github.com/deena23" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></p>
            <p><a href="https://github.com/deena23" target="_blank"><i class="fa fa-github fa-lg"></i></a></p>
            <p><a href="https://www.linkedin.com/in/deenadhayalan-bhackiyam" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></p>
        </div>
    </div>
    <div class="div-bottom">
        <p class="p-1">I'm Front-End Developer</p>
        <div >
            <ul class="flex p-2">
                <li [routerLink]="['/Experience']">Experiences</li>
                <li [routerLink]="['/Education']">Education</li>
                <li [routerLink]="['/Resume']">Resume</li>
                <li [routerLink]="['/Contact']">Contact</li>
            </ul>
        </div>
    </div>
</section>

